@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@400;600;800&display=swap");
:root {
  --primary-color:#6d28d9;
  --secondary-color: #2e1065;
  --border-color: #e5e7eb;
  --bg-color: #F4F7FD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  font-family: "Noto Sans Bengali", sans-serif;
}

.containerNinish {
  max-width: 1200px;
  width: 100%;
}

.logo {
  width: 6rem;
}
.logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hamBtn {
  font-size: 2rem;
}

.circ {
  width: 150px;
  height: 150px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

header {
  background: white;
}

nav i {
  font-size: 1.5rem;
}
nav img {
  width: 2rem;
}
nav a, nav .eventNavLinkMobile {
  color: black;
}
nav a:hover, nav .eventNavLinkMobile:hover {
  color: var(--primary-color);
}

.desktopNavLinks a {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: 0.1s ease;
}
.desktopNavLinks .eventNavLinkDesktop {
  position: relative;
}
.desktopNavLinks .eventNavLinkDesktop .previousEventsDesktop {
  display: none;
  padding: 0.4rem;
}
.desktopNavLinks .eventNavLinkDesktop .previousEventsDesktop .nestedNavLink a {
  gap: 0.5rem;
}
.desktopNavLinks .eventNavLinkDesktop .previousEventsDesktop .nestedNavLink a:hover {
  background: rgba(0, 0, 0, 0.055);
}
.desktopNavLinks .eventNavLinkDesktop:hover .previousEventsDesktop {
  display: block;
  position: absolute;
  width: 18rem;
  background: white;
  transform: translateX(-20%);
}

.mobileNavLinks ul {
  width: 100%;
}
.mobileNavLinks ul .nestedNavLink a {
  display: flex !important;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
.mobileNavLinks ul .nestedNavLink a:hover {
  background: rgba(0, 0, 0, 0.055);
}
.mobileNavLinks ul .nestedNavLink:last-child a {
  margin-bottom: -9px;
}
.mobileNavLinks ul li a, .mobileNavLinks ul li.eventNavLinkMobile {
  border-bottom: 1px solid var(--border-color);
  display: block;
  padding: 0.5rem 0;
  cursor: pointer;
}
.mobileNavLinks ul .previousEventsMobile a {
  border-top: 1px solid var(--border-color);
  border-bottom: none;
  padding-left: 1rem;
}

.testimonialImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid var(--bg-color);
}
.testimonialImage img {
  height: 130%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.eventBanner {
  height: 250px;
  position: relative;
}
.eventBanner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.singleEvent {
  position: relative;
}
.singleEvent .singleEventBanner {
  height: 600px;
  position: relative;
}
.singleEvent .singleEventBanner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.singleEvent .singleEventBanner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top right, #0f172a, var(--secondary-color));
  border-radius: 15px;
  opacity: 0.75;
}

.winnerOne {
  height: 530px;
}

.importantLink:hover {
  color: var(--primary-color);
}

.contactInfo {
  color: var(--primary-color);
}

.socialLinks i:hover {
  color: var(--primary-color);
}/*# sourceMappingURL=style.css.map */
.background-animate {
    background-size: 250%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}